html {
    --primary:#9D92FF;
    --primary-dark: #7d74cf;
    --secondary: #333333 ;

    --white: #fff;
    --black: #000;
    
    --shade1: rgba(117, 32, 186, 0.4);
    --shade2: rgba(117, 32, 186, 0.3);
    --shade3: rgba(117, 32, 186, 0.2);
    --shade4: rgba(117, 32, 186, 0.1);
    --shade5: rgba(117, 32, 186, 0.05);

    --ease: all ease 0.5s;
}

/* Page */

body {
    background-color : var(--primary-dark);
    background-image: url("../images/penguin_background.png");
    background-repeat: repeat;
    padding: 4vh 4vw;
    display: block;
}

h1, p {color: var(--white)}

.clucker-box {
    padding: 2em 5em;
    opacity: 0.9;
    background-color: var(--primary);
    box-shadow: var(--secondary) 0px 20px 30px -10px;
    border-radius: 1em;
    color: var(--white);
}

.button, .button-alt {
    text-decoration: none;
    border-radius: 0.2em;
    padding: 0.4em 1.4em;
    transition: var(--ease);
    border: none;
}
.button {
    background-color: var(--black);
    color: var(--primary);
}
.button-alt {
    background-color: var(--white);
    color: var(--primary);
}
.button:hover {
    background-color: var(--white);
    color: var(--primary-dark);
    box-shadow: var(--shade1) 0px 5px, var(--shade2) 0px 10px, var(--shade3) 0px 15px, var(--shade4) 0px 20px, var(--shade5) 0px 25px;
}
.button-alt:hover {
    background-color: var(--black);
    color: var(--primary);
    box-shadow: var(--shade1) 0px 5px, var(--shade2) 0px 10px, var(--shade3) 0px 15px, var(--shade4) 0px 20px, var(--shade5) 0px 25px;
}