html {
    --primary:#BBF1F1;
    --primary-dark: #008080;

    --white: #fff;
    --black-light: #333333 ;
    --black: #000;
    
    --shade1: rgba(187, 241, 241, 0.4);
    --shade2: rgba(187, 241, 241, 0.3);
    --shade3: rgba(187, 241, 241, 0.2);
    --shade4: rgba(187, 241, 241, 0.1);
    --shade5: rgba(187, 241, 241, 0.05);

    --ease: all ease 0.5s;
    --animation-gradient: gradient 15s ease infinite;
    --animation-gradient-slow: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Page */
.page {
    min-height: 82vh;
}

.box_down, .box {
    margin-bottom: 1em;
}
.box_up, .box {
    margin-top: 1em;
}
.box_right, .box {
    margin-right: 1em;
}
.box_left, .box {
    margin-left: 1em;
}
.inline {
    display: inline-block;
}

body {
    background-color : var(--primary-dark);
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    padding: 4vh 4vw;
    display: block;
}

h1, h2, h3, h4, h5, h6, p, .title {color: var(--white)}
.title {
    font-size: 50px;
    font-family: "Verdana", Sans-serif;
    font-weight: oblique;
}

.clucker-box {
    background-color : var(--shade2);
    padding: 2em 5em;
    opacity: 0.8;
    box-shadow: var(--black-light) 0px 20px 30px -10px;
    border-radius: 1em;
    color: var(--white);
    backdrop-filter: blur(100px);
    transition: var(--ease);
}
.clucker-box:hover {
    opacity: 0.95;
    background-color : var(--shade1);
}

.post {
    position: relative;
    display: inline-block;
    background-color: var(--black-light);
    width: 20vw;
    color: var(--primary);
    border-radius: 0.5em;
    transition: var(--ease);
    opacity: 0.9;
    font-family: "Copperplate";
    font-size: 1.2em;
    margin-bottom: 1em;
}
.post_image {
    width:100%;
    transition: var(--ease);
    display: block;
    border-radius: inherit;
    min-height: fit-content;
}
.post p {
    font-size: 0.8em;
}
.post .button {
    display: block;
    width:100%;
    border-radius:inherit;
}
.post:hover {
    width: 24vw;
    font-size: 1.4em;
    opacity: 1;
    box-shadow: var(--shade1) 0px 5px, var(--shade2) 0px 10px, var(--shade3) 0px 15px, var(--shade4) 0px 20px, var(--shade5) 0px 25px;
}
.post:hover .post_image {
    border-radius: 0.2em;
}

.profile_pic {
    height: 9em;
    width: 9em;
    border-radius: 50%;
}

.button, .button-alt {
    text-decoration: none;
    border-radius: 0.2em;
    padding: 0.4em 1.4em;
    transition: var(--ease);
    border: none;
}
.button {
    background-color: var(--black);
    color: var(--primary);
}
.button-alt {
    background-color: var(--white);
    color: var(--primary-dark);
}
.button:hover, .button-alt:hover {
    box-shadow: var(--shade1) 0px 5px, var(--shade2) 0px 10px, var(--shade3) 0px 15px, var(--shade4) 0px 20px, var(--shade5) 0px 25px;
}
.button:hover {
    background-color: var(--white);
    color: var(--primary-dark);
}
.button-alt:hover {
    background-color: var(--black);
    color: var(--primary);
}