{% extends 'base.html' %}

{% block title %}Feed{% endblock %}

{% block body %}
<div class="clucker-box">
    <h1>Welcome to the <strong>Penguin Empire</strong></h1>
    <p>The place for raising flippers and sharing your unique calls</p>
    
    <a href='{% url 'logout' %}' class="button-alt">Logout</a>
</div>

<div class="title box">Feed</div>

<div class="clucker-box box">
    {% if feed_posts %}
        {% for post in feed_posts %}
            <div class="post box">
                <div class=box>
                    {{post.author}}  
                </div>
                
                {% if not post.image is None and not post.image == "" %}
                    <img class="post_image" src="data:image/png;base64,{{post.image}}"/>
                {% endif %}
                
                <div class=box>
                    {{post.text}}  
                </div>
                <div class=box>
                    <p>{{post.created_at}}</p> 
                </div>
            </div>
        {% endfor %}
    {% else %}
    You have no posts to view, invite some of your friends to post to view their posts here
    {% endif %}
</div>
{% endblock %}