{% extends 'base.html' %}

{% block body %}
<div class="clucker-box">
    <h1>Welcome to Vocalization</h1>
    <p>The place for free range coversation</p>

    <a href='{% url 'logout' %}' class="btn btn-sm btn-light btn-outline-primary">Logout</a>

    <br><br><br><br><br>

    <h3>New post</h3>
    <form action="{% url 'new_post' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Vocalization" class="btn btn-sm btn-light btn-outline-dark">
        {% comment %} <button type="submit" class="btn btn-primary">Cluck</button> {% endcomment %}
    </form>

    <br><br><br><br><br>

    <h1>Feed</h1>
</div>
{% endblock %}