{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="title box_down">Login</div>

    <form action="{% url 'login' %}" method="post" class="clucker-box">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Login" class="button-alt">
        <a href="{% url 'signup' %}" class="button">Sign up</a>
    </form>
{% endblock %}