{% extends 'base.html' %}

{% block body %}
    <form action="{% url 'login' %}" method="post" class="clucker-box">
        <h1>Login</h1>

        {% for message in messages %}
            <div class="error_message"> {{ message }} </div>
        {% endfor %}

        {% csrf_token %}
        {% load widget_tweaks %}
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
            </div>
        {% endfor %}
        <input type="submit" value="Login" class="btn btn-sm btn-light btn-outline-dark">
        <a href="{% url 'signup' %}" class="btn btn-sm btn-light btn-outline-primary">Sign up</a>
    </form>
{% endblock %}