{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block body %}

<div class="title box_down">Profile</div>

<div class="clucker-box box_down" align="left">
    {% if account_user.profile_pic is None or account_user.profile_pic == "" %}
        <img src="{% static 'favicon.ico' %}" class="profile_pic inline box_right">
    {% else %}
        <img src="data:image/png;base64,{{account_user.profile_pic}}" class="profile_pic inline box_right">
    {% endif %}

    <div class="title inline">@{{account_user.username}}</div>

    <div class="box">
    <h5>{{account_user.first_name}} {{account_user.last_name}}</h5>
    <h5>{{account_user.bio}}</h5>
    </div>

    <div class="box">
    <p>Member since {{account_user.date_joined}}</p>
    </div>
</div>

<br>

<div class="clucker-box box">
    {% for post in account_user.get_posts %}
        <div class="post box">
        {% if not post.image is None and not post.image == "" %}
            <img class="post_image" src="data:image/png;base64,{{post.image}}"/>
        {% endif %}
        
        <div class=box>
            {{post.text}}  
        </div>
        <div class=box>
            <p>{{post.created_at}}</p> 
        </div>
        
        
        {% if account_user == user %}
            <a class="button" href="{% url 'delete_post' pk=post.id username=account_user.username %}">Delete</a>
        {% endif %}

        </div>
    {% endfor %}
</div>
{% endblock %}