{% extends 'base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block body %}

    <div class="title box_down">Profile</div>

    <div class="clucker-box box_down" align="left">
        <div class="row box_down">
            <div class="col-md-auto">
            {% if account_user.profile_pic is None or account_user.profile_pic == "" %}
                <img src="{% static 'favicon.ico' %}" class="profile_pic">
            {% else %}
                <img src="data:image/png;base64,{{account_user.profile_pic}}" class="profile_pic">
            {% endif %}
            </div>


            <div class="col">
                <div class="title row">@{{account_user.username}}</div>
                <div class="row">
                    <h4>Followers: {{account_user.get_followers.count}}</strong></h4>
                </div>
                <div class="row">
                    {% if user == account_user %}
                    {% elif user.id in account_user.get_followers %}
                    <a class="button" href="{% url 'unfollow' page='profile' username=account_user.username %}">Unfollow</a>
                    {% else %}
                    <a class="button-alt" href="{% url 'follow' page='profile' username=account_user.username %}">Follow</a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row">
            <h5>{{account_user.first_name}} {{account_user.last_name}}</h5>
            <h5>{{account_user.bio}}</h5>
            </div>

            <div class="row box_up">
            <p>Member since {{account_user.date_joined}}</p>
        </div>

        {% if user == account_user %}
            <div class="row">
                {% comment %} <a class="button-alt" href="{% url 'edit_profile' page='profile' username=account_user.username %}">Edit Profile</a> {% endcomment %}
            </div>
        {% endif %}
    </div>

    <br>

    {% if account_user.get_posts.count > 0 %}
        <div class="clucker-box box">
            {% for post in account_user.get_posts %}
                {% include 'partials/display_posts.html'%}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}