{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <div class="title box_down">Profile</div>

    <div class="clucker-box box_down" align="left">
        {% include 'partials/display_account.html'%}

        <div class="row">
            <h5>{{account_user.first_name}} {{account_user.last_name}}</h5>
            <h5>{{account_user.bio}}</h5>
            </div>

            <div class="row box_up">
            <p>Member since {{account_user.date_joined}}</p>
        </div>

        {% if user == account_user %}
            <div class="row">
                {% comment %} <a class="button-alt" href="{% url 'edit_profile' page='profile' username=account_user.username %}">Edit Profile</a> {% endcomment %}
            </div>
        {% endif %}
    </div>

    <br>

    {% if account_user.get_posts.count > 0 %}
        <div class="clucker-box box">
            {% for post in account_user.get_posts %}
                {% include 'partials/display_post.html'%}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}