{% extends 'base.html' %}

{% block body %}
    <form  form action="{% url 'signup' %}" method="post" class="clucker-box">
        <h1>Signup</h1>

        {% csrf_token %}
        {% load widget_tweaks %}
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {% if form.is_bound %}
                    {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                    {% else %}
                        {% render_field field class="form-control is-valid" %}
                    {% endif %}
                {% else %}
                    {% render_field field class="form-control" %}
                {% endif %}

                <div class="valid-feedback">
                    Valid Information
                </div>
                <div class="invalid-feedback">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <input type="submit" value="Sign up" class="btn btn-sm btn-light btn-outline-dark">
        <a href="{% url 'login' %}"" class="btn btn-sm btn-light btn-outline-primary">Login</a>
    </form>
{% endblock %}